<div class="mat-dialog-title">
  <div class="row">
    <div class="col-6 w-auto">Upload Documents</div>
    <div class="col-6 w-auto text-right">
      <button [mat-dialog-close]="true" mat-raised-button type="button" matTooltip="Close"
        [matTooltipPosition]="'above'" class="btn  btn-link btn-sm btn-just-icon">
        <i class="material-icons">close</i>
      </button>
    </div>
  </div>
</div>
<div class="mat-dialog-content">
  <div *ngIf="createProjectData._id != ''" class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-12 ">
          <!-- [ng2FileDropAcceptMultiple]="multipleAllow" -->
          <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
            [uploader]="uploader" (onFileDrop)="onFileSelected($event)" class="well my-drop-zone ">
            <span class="align-middle">Drop or select the files</span>
            <br>
            <span><i class="material-icons upload-icon">cloud_upload</i></span>
            <br>
            <div class="upload-btn-wrapper">
              <button mat-raised-button type="submit" class="btn btn-primary pull-right btn-spec">Browse</button>
              <input type="file" ng2FileSelect [uploader]="uploader" multiple="allowMultiple"
                (onFileSelected)="onFileSelected($event)" />
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" style="width:55%">Name</th>
                <!-- <th scope="col">Size</th> -->
                <th scope="col" style="width:10%">Progress</th>
                <!-- <th scope="col">Status</th> -->
                <th scope="col" style="width:20%">File Type*</th>
                <th scope="col" style="width:20%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue; let i=index;" [class.bg-light]="item.isUploaded">
                <fieldset id="uploadSection" [class.disabled]="item.isUploaded" [disabled]="item.isUploaded"
                  class="w-100 d-contents">
                  <th scope="row">{{ item?.file?.name }}</th>
                  <td>
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="p-0">
                    <mat-form-field id="fileTypes" class="example-full-width">
                      <mat-select [(ngModel)]="item.fileType" (ngModelChange)="setFileType(item,i);disableFileType()"
                        [class.disabled]="item.isUploaded" [disabled]="item.isUploaded || disableDropDown" required>
                        <mat-option *ngFor="let file of fileTypes" [value]="file.value" [disabled]="(disableLabelText && file.value == 'Label') || (fileSelectOptionDisable && file.value == 'Label')">
                          {{file.value}}</mat-option>
                        <!-- (onSelectionChange)="disableFileType($event, file)" -->
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td class="td-actions text-left">
                    <button (click)="item.upload()" [class.disabled]="!item.fileType || item.isUploaded"
                      [disabled]="!item.fileType || item.isUploaded" mat-raised-button type="button" matTooltip="Upload"
                      [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                      <i class="material-icons">cloud_upload</i>
                    </button>
                    <button (click)="item.cancel()" [disabled]="false" mat-raised-button type="button"
                      matTooltip="Cancel" [matTooltipPosition]="'above'"
                      class="btn btn-link btn-sm btn-just-icon">
                      <i class="material-icons">close</i>
                    </button>
                    <button (click)="item.remove();disableFileType()" mat-raised-button type="button"
                      matTooltip="Remove" [matTooltipPosition]="'above'"
                      class="btn btn-danger btn-link btn-sm btn-just-icon flex">
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </fieldset>
              </tr>
            </tbody>
          </table>
          <div>
            <div style="display:none;">Queue progress:
              <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger btn-s pull-right btn-spec" (click)="uploader.clearQueue()"
              [class.disabled]="!uploader.queue.length" [disabled]="!uploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
            <button type="button" class="btn btn-warning btn-s pull-right btn-spec" (click)="uploader.cancelAll()"
              [class.disabled]="!uploader.isUploading" [disabled]="!uploader.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-success btn-s pull-right btn-spec" (click)="uploader.uploadAll()"
              [class.disabled]="disableUploadAll || !uploader.getNotUploadedItems().length"
              [disabled]="disableUploadAll || !uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>