.uploadComplete {
  background-color: #d0d0d0;
}

.material-icons {
  cursor: pointer !important;
}

.my-drop-zone {
  border: dotted 3px lightgray;
  height: 150px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  padding: 1.5%;
}

.another-file-over-class { 
  border: dotted 3px green; 
}

.upload-icon {
  font-size: -webkit-xxx-large;
  cursor: pointer;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.d-contents {
  display: contents !important;
}

.disabled {
  cursor : not-allowed !important;
}

/* #uploadSection td th .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
} */

/* .mat-form-field-infix {
  border-top: 0px !important;
  padding: 0px !important;
} */

::ng-deep #fileTypes .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep #fileTypes .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep #fileTypes .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
