<div class="wrapper">
    <div [ngStyle]="{width: hideSideBar ? '0%' : '' }" class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar [hidden]="hideSideBar"></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel" [ngStyle]="{width: hideSideBar ? '100%' : '' }">
        <app-navbar (sideBarToggle)="sideBarToggleCondition($event)"></app-navbar>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
</div>
