<div class="main-content" *ngIf="projectDetails != undefined">
  <div class="row">
    <div class="col-12 pad-0 text-right">
      <button mat-raised-button routerLink="/view/{{projectId}}" type="submit" class="btn btn-spec">Back</button>
      <button mat-raised-button (click)="acceptRejectDocumentsComments();" type="submit"
        class="btn btn-danger btn-spec">Update Document</button>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-12 px-0">
      <div class="card mb-0">
        <div class="card-header card-header-primary row">
          <div class="col-10 pl-0">
            <h4 class="card-title">{{projectDetails.project.projectName}}</h4>
            <div class="card-category">
              <span *ngIf="projectDetails.project.proprietaryName">Proprietary Name : {{ projectDetails.project.proprietaryName }} | </span>
              <span *ngIf="projectDetails.project.drugName">Drug Name : {{ projectDetails.project.drugName }} | </span>
              <span>Country : {{ projectDetails.project.country.name }} | Created By :
                {{ projectDetails.project.createdBy.name }} |
                Created On : {{ projectDetails.project.createdOn | date : 'dd-MMM-yyyy' }}</span>
            </div>
          </div>
          <div class="col-2 text-right">
            <button (click)="downloadCommentedLabelDoc();" mat-raised-button type="button" matTooltip="Commented Label"
              [matTooltipPosition]="'above'" class="btn btn-link btn-lg btn-just-icon m-0">
              <i class="material-icons" style="color:black;">cloud_download</i>
            </button>
            <button mat-mini-fab color="warn" [disabled]="projectDetails.project.conflicts.total < 1"
              [mdePopoverTriggerFor]="appPopover"
              mdePopoverTriggerOn="hover">{{ projectDetails.project.conflicts.total }}</button>
            <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
              <mat-card style="max-width: 320px;padding: 5px;">
                <mat-card-content>
                  <table class="table table-borderless table-sm table-light">
                    <tbody>
                      <tr *ngFor="let item of projectDetails.project.conflicts.types">
                        <td>{{ item.label }}</td>
                        <td style="padding:5px;">{{ item.value }}</td>
                        <td>
                          <button mat-raised-button type="button" matTooltip="Accept All" [matTooltipPosition]="'above'"
                            class="btn btn-success btn-link btn-sm py-0 px-1 m-0" [disabled]="item.value < 1"
                            *ngIf="item.key != 'spell' && item.key != 'order' && item.key != 'configRules'"
                            (click)="openConfirmationModal('Accept', item.key, item.label)">
                            <i class="material-icons">done_all</i>
                          </button>
                          <button mat-raised-button type="button" matTooltip="Reject All" [matTooltipPosition]="'above'"
                            class="btn btn-danger btn-link btn-sm py-0 px-1 m-0" [disabled]="item.value < 1"
                            *ngIf="item.key != 'spell' && item.key != 'order' && item.key != 'configRules'"
                            (click)="openConfirmationModal('Reject', item.key, item.label)">
                            <i class="material-icons">close</i>
                          </button>
                          <button mat-raised-button type="button" matTooltip="Ignore All" [matTooltipPosition]="'above'"
                            class="btn btn-danger btn-link btn-sm py-0 px-1 m-0" [disabled]="item.value < 1"
                            *ngIf="item.key == 'spell'" (click)="openConfirmationModal('Accept', item.key, item.label)">Ignore All
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </mat-card-content>
              </mat-card>
            </mde-popover>
          </div>
        </div>

        <mat-sidenav-container autosize=true class="example-container">
          <mat-sidenav #sidenav position="end" mode="side" style="width:40%;background: transparent;">
            <div class="row mx-1">
              <!-- style="height: 99vh !important" -->
              <div class="card mt-1" *ngIf="refDocUrl">
                <div *ngIf="refDocUrl">
                  <app-pdf-viewer [url]="refDocUrl" [searchText]="refSearchText" [showCloseButton]=true
                    (closeSideBarSection)="closeSideBarToggle($event)" [setZoomInPercent]="setZoomInPercent"></app-pdf-viewer>
                </div>
              </div>
            </div>
          </mat-sidenav>

          <mat-sidenav-content>
            <div id="main">
              <div class="row mx-1 w-100 mt-1">
                <div style="width:65%">
                  <!-- style="height: 91vh !important" -->
                  <div class="card my-0">
                    <div *ngIf="labelDocUrl">
                      <app-pdf-viewer [url]="labelDocUrl" [searchText]="labelTextSearch" [showCloseButton]=false
                        (closeSideBarSection)="closeSideBarToggles($event)" [setZoomInPercent]="setZoomInPercent"></app-pdf-viewer>
                    </div>
                  </div>
                </div>

                <!-- COMMENTS SECTION -->
                <div style="width:35%;">
                  <div class="row mx-2">
                    <ng-select id="conflictTypeNgSelect" class="w-100 my-0 py-0" autoCapitalize="on"
                      dropdownPosition="bottom" [items]="conflictCriterias" bindValue="value" bindLabel="label"
                      placeholder="Select Conflict Criteria" (ngModelChange)="filterItem($event)"
                      [(ngModel)]="conflictType"></ng-select>
                  </div>
                  <div class="row mx-2" style="overflow-x: hidden; overflow-y: auto; max-height: 124vh;">
                    <div class="col-12 p-0 text-center">
                      <div *ngIf="filteredItems.length < 1" class="badge badge-pill badge-primary mt-2 p-3">No
                        conflict(s) to show.</div>
                      <div *ngFor="let item of filteredItems;let i = index"
                        class="border-info m-1 mr-2 w-100 text-left">
                        <mat-card class="p-2" id="{{ i }}">
                          <mat-card-content class="mb-0">
                            <div class="small"
                              [ngClass]="item.action == 'ACCEPT' ? 'btn-success pl-2 rounded' :  (item.action == 'REJECT' ? 'btn-danger pl-2 rounded' : '' )">
                              {{item.conflict_type}} Conflict</div>
                            <hr style="margin: 0.5rem 0" />
                            <!-- (click)="pdfViewer.search(item.comment_text)" -->
                            <div class="small" (click)="searchLabelText(item)" style="cursor: pointer;">
                              {{item.comment_text}}</div>
                          </mat-card-content>
                          <mat-card-actions class="text-right">
                            <button mat-raised-button type="button" matTooltip="Accept" [matTooltipPosition]="'above'"
                              class="btn btn-success btn-link btn-sm btn-just-icon"
                              [hidden]="showAcceptRejectConditions(item)"
                              (click)="acceptOrRejectComment('Accept',item)">
                              <i class="material-icons">check</i>
                            </button>
                            <button mat-raised-button type="button" matTooltip="Reject" [matTooltipPosition]="'above'"
                              class="btn btn-danger btn-link btn-sm btn-just-icon"
                              [hidden]="showAcceptRejectConditions(item)"
                              (click)="acceptOrRejectComment('Reject',item)">
                              <i class="material-icons">close</i>
                            </button>
                            <button mat-raised-button
                              *ngIf="(item.reference_doc!='' && item.reference_doc!=null && item.reference_doc!=undefined && item.conflict_type != 'Spell and Grammar' && item.conflict_type != 'Configured rules' )"
                              type="button" (click)="sidenav.open();getReferenceDocument(item, i);"
                              [matTooltipPosition]="'above'" matTooltip="Reference Document"
                              class="btn btn-primary btn-link btn-sm btn-just-icon">
                              <i class="material-icons">find_in_page</i></button>
                          </mat-card-actions>
                        </mat-card>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </div>
  </div>
</div>