<div class="main-content" *ngIf="projectDetails != undefined">
  <div class="row">
    <div class="col-12 pad-0 text-right">
      <button mat-raised-button routerLink="/view/{{projectId}}" type="submit" class="btn btn-spec">Back</button>
      <button mat-raised-button (click)="acceptRejectDocumentsComments();" type="submit"
        class="btn btn-danger btn-spec">Update Document</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary row">
          <div *ngIf="projectDetails.project.projectName" class="col-11">
            <h4 class="card-title">{{projectDetails.project.projectName}}</h4>
            <div class="card-category">
              <span>Country : {{ projectDetails.project.country.name }} | Created By :
                {{ projectDetails.project.createdBy.name }} |
                Created On : {{ projectDetails.project.createdOn | date : 'dd-MMM-yyyy' }}</span>
            </div>
          </div>
          <div class="col-1">
            <button mat-mini-fab color="warn" [disabled]="projectDetails.project.conflicts.total < 1"
              [mdePopoverTriggerFor]="appPopover"
              mdePopoverTriggerOn="hover">{{ projectDetails.project.conflicts.total }}</button>
            <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
              <mat-card style="max-width: 300px;padding: 5px;">
                <mat-card-content>
                  <table class="table table-borderless table-sm table-light">
                    <tbody>
                      <tr *ngIf="projectDetails.project.conflicts.types.font">
                        <td scope="row">Font Conflicts</td>
                        <td>{{ projectDetails.project.conflicts.types.font }}</td>
                      </tr>
                      <tr *ngIf="projectDetails.project.conflicts.types.content">
                        <td scope="row">Content Conflicts</td>
                        <td>{{ projectDetails.project.conflicts.types.content }}</td>
                      </tr>
                      <tr *ngIf="projectDetails.project.conflicts.types.order">
                        <td scope="row">Order Conflicts</td>
                        <td>{{ projectDetails.project.conflicts.types.order }}</td>
                      </tr>
                    </tbody>
                  </table>
                </mat-card-content>
              </mat-card>
            </mde-popover>
          </div>
        </div>

        <mat-drawer-container class="example-container" style="width:100%;height:90vh">
          <mat-drawer #drawer class="example-sidenav p-0" mode="side" position="end">
            <div class="row mx-1">
              <div class="card mt-1" *ngIf="referenceDocuments">
                <iframe id="showRefDoc" frameborder="0" width="100%;" height="800px;"></iframe>
              </div>
            </div>
          </mat-drawer>

          <div class="example-sidenav-content">
            <div id="main">
              <div class="row mx-1">
                <div style="width:70%">
                  <div class="card m-0 mt-1">
                    <iframe id="showLabelDoc" frameborder="1" frameborder="0" width="100%" height="800px"></iframe>
                  </div>
                </div>

                <div style="width:29%;">
                  <div *ngFor="let item of projectDetails.comments;let i = index" class="card border-info m-1 mr-2">
                    <mat-card class="p-2" id="{{ i }}">
                      <mat-card-content class="mb-0">
                        <div class="small"
                          [ngClass]="item.action == 'ACCEPT' ? 'btn-success pl-2 rounded' :  (item.action == 'REJECT' ? 'btn-danger pl-2 rounded' : '' )">
                          {{item.conflict_type}} CONFLICT</div>
                        <hr style="margin: 0.5rem 0" />
                        <div class="small">{{item.comment_text}}</div>
                      </mat-card-content>
                      <mat-card-actions class="text-right">
                        <button mat-raised-button type="button" matTooltip="Accept"
                          class="btn btn-success btn-link btn-sm btn-just-icon"
                          (click)="acceptOrRejectComment('Accept',i)">
                          <i class="material-icons">check</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Reject"
                          class="btn btn-danger btn-link btn-sm btn-just-icon"
                          (click)="acceptOrRejectComment('Reject',i)">
                          <i class="material-icons">close</i>
                        </button>
                        <button mat-raised-button type="button" (click)="drawer.toggle();getReferenceDocument(item, i);"
                          matTooltip="Refer Document" class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">find_in_page</i></button>
                        <!-- runOnRouteChange(); -->
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-drawer-container>
      </div>
    </div>
  </div>
</div>