<div class="mat-dialog-title">
  <div>{{ data.statusTitle }}</div>
</div>
<hr style="margin: 0px -24px 15px;"/>
<div class="mat-dialog-content">
  <div class="row mr-0">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 modal-content-labels pad-0">
      <strong>{{ data.statusText }}</strong>
    </div>
  </div>
</div>
<div class="mat-dialog-actions" style="display:block !important;">
  <button class="btn btn-primary pull-right btn-spec" *ngIf="data.showSubmit" (click)="modalSubmit();" mat-raised-button
    [mat-dialog-close]="true">{{ data.submitText }}</button>
  <button class="btn btn-default pull-right btn-spec" *ngIf="data.showCancel" (click)="modalCancel();" mat-raised-button
    [mat-dialog-close]="true" style="margin-right:10px;">{{ data.cancelText }}</button>
</div>