<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 pad-0 text-right">
        <button mat-raised-button routerLink="/view/{{projectId}}" type="submit" class="btn btn-spec">Back</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Mapping Specs</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <th [ngStyle]="{width: header.width}" *ngFor="let header of projectTableHeaders" class="{{header.class}}">{{ header.headerName }}</th>
                </thead>
                <tbody>
                  <tr class="mat-row" *ngFor="let sec of mappingSpec">
                    <td class="mat-cell">{{ sec.lpd_Section }}</td>
                    <td class="mat-cell">{{ sec.final_matched }}</td>
                    <!-- <td class="mat-cell">{{ sec.actual_mapping }} </td> -->
                    <td class="mat-cell">
                      <div [ngClass]="convertToPercent(sec.confidence_score) > 80 ? 'btn-success' : convertToPercent(sec.confidence_score) < 30 ? 'btn-danger' : 'btn-warning' " class="badge badge-pill btn-success" style="padding:10px !important;">
                        {{ convertToPercent(sec.confidence_score) }}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>