<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 pad-0 text-right">
        <button mat-raised-button routerLink="/view/{{projectId}}" type="submit" class="btn btn-spec">Back</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <div *ngIf="projectDetails._id">
              <h4 class="card-title">Mapping Specs</h4>
              <h4 class="card-title" *ngIf="projectDetails.projectName">{{projectDetails.projectName}}</h4>
              <div class="card-category">
                <span *ngIf="projectDetails.proprietaryName">Proprietary Name : {{ projectDetails.proprietaryName }} | </span>
                <span *ngIf="projectDetails.drugName">Drug Name : {{ projectDetails.drugName }} | </span>    
                <span>Country : {{ projectDetails.country.name }} | Created By : {{ projectDetails.createdBy.name }} |
                  Created On : {{ projectDetails.createdOn | date : 'dd-MMM-yyyy' }}</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <th [ngStyle]="{width: header.width}" *ngFor="let header of projectTableHeaders" class="{{header.class}}">{{ header.headerName }}</th>
                </thead>
                <tbody>
                  <tr class="mat-row" *ngFor="let sec of mappingSpec">
                    <td class="mat-cell">{{ sec.lpd_Section }}</td>
                    <td class="mat-cell">{{ sec.predicted_mapping_content }}</td> <!-- final_matched -->
                    <!-- <td class="mat-cell">{{ sec.actual_mapping }} </td> -->
                    <td class="mat-cell">
                      <div [ngClass]="convertToPercent(sec.confidence_score) > 70 ? 'btn-success' : convertToPercent(sec.confidence_score) < 30 ? 'btn-danger' : 'btn-warning' " class="badge badge-pill btn-success" style="padding:10px !important;">
                        {{ convertToPercent(sec.confidence_score) }}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>