<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 pad-0 text-right">
        <button mat-raised-button routerLink="/project" type="submit" class="btn btn-primary">Back</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <div><h4 class="card-title">History</h4></div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th *ngFor="let header of historyColHeader">{{ header }}</th>
                </thead>
                <tbody>
                  <tr class="mat-row mx-auto" *ngIf="historyList.length == 0">
                    <mat-chip-list class="text-center w-100 mx-auto">
                      <mat-chip color="primary" class="mx-auto" selected>No documents to show.</mat-chip>
                    </mat-chip-list>                    
                  </tr>
                  <tr class="mat-row" *ngFor="let history of historyList" >
                    <td class="mat-cell">{{ history.action }}</td>
                    <td class="mat-cell">{{ history.updatedBy.name }}</td>
                    <td class="mat-cell">{{ history.updatedOn | date : 'dd-MMM-yyyy' }}</td>
                    <td class="mat-cell">{{ history.description }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>