<div class="wrapper login-background fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="../../assets/img/gears.gif"  class="mt-1"/>
      <h3> Automated Label Review</h3>
    </div>
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="User Name">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
    </form>
    <div id="formFooter">
      <a class="underlineHover" routerLink="/dashboard">Login</a>
    </div>
  </div>
</div>