<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 pad-0 text-right">
        <button mat-raised-button (click)="showConflict(projectDetails)" type="submit" class="btn btn-danger">Conflicts</button>
        <button mat-raised-button (click)="showMappingSpec();" type="submit" class="btn btn-primary" *ngIf="projectDetails.country.name == 'Saudi Arabia'">Show Mapping Spec</button>
        <button mat-raised-button (click)="uploadMoreDocuments()" type="submit" class="btn btn-primary">Add
          Documents</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <div *ngIf="projectDetails.projectName">
              <h4 class="card-title">{{projectDetails.projectName}}</h4>
              <div class="card-category">
                <span>Country : {{ projectDetails.country.name }} | Created By : {{ projectDetails.createdBy.name }} |
                  Created On : {{ projectDetails.createdOn | date : 'dd-MMM-yyyy' }}</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="viewTable" class="table-responsive">
              <table class="table">
                <thead>
                  <th *ngFor="let header of documentTableHeaders">{{ header }}</th>
                </thead>
                <tbody>
                  <tr *ngIf="projectDetails.documents.length < 1">
                    <td colspan="5" class="mx-auto text-center">
                      <div class="badge badge-pill badge-primary p-3">No documents to show.</div>
                    </td>
                  </tr>
                  <tr class="mat-row" *ngFor="let document of projectDetails.documents" >
                    <td class="mat-cell">{{ document.documentName }}</td>
                    <td class="mat-cell">{{ document.fileType }}</td>
                    <td class="mat-cell">{{ document.uploadedBy.name }}</td>
                    <td class="mat-cell">{{ document.uploadedDate | date : 'dd-MMM-yyyy' }}</td>
                    <td class="mat-cell">
                      <button mat-raised-button type="button" matTooltip="Re-upload" [matTooltipPosition]="'above'"
                      class="btn btn-link btn-sm btn-just-icon">
                      <i class="material-icons">cloud_upload</i>
                    </button>
                    <button [disabled]="false" mat-raised-button type="button" matTooltip="Download" [matTooltipPosition]="'above'"
                      class="btn btn-link btn-sm btn-just-icon">
                      <i class="material-icons">visibility</i>
                    </button>
                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" 
                      class="btn btn-danger btn-link btn-sm btn-just-icon flex">
                      <i class="material-icons">delete</i>
                    </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>