<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 pad-0 text-right" *ngIf="projectDetails.documents" >
        <button mat-raised-button (click)="uploadMoreDocuments()" type="submit" class="btn btn-primary btn-spec">Add Documents</button>
        <button mat-raised-button *ngIf="projectDetails.documents.length > 0 && !projectDetails.conflicted" (click)="showConflict(projectDetails)" type="submit" class="btn btn-danger btn-spec">Review Label</button>
        <button mat-raised-button *ngIf="projectDetails.conflicted" (click)="viewConflict(projectDetails)" type="submit" class="btn btn-danger btn-spec">View Conflicts</button>
        <button mat-raised-button *ngIf="projectDetails.documents.length > 0 && projectDetails.country.name != 'Bosnia' && projectDetails.conflicted" (click)="showMappingSpec(projectDetails.documents);" type="submit" class="btn btn-primary btn-spec" >Show Mapping Spec</button>
        <button mat-raised-button (click)="showCheckList(projectDetails)" type="submit" class="btn btn-danger btn-spec" *ngIf="projectDetails.conflicted">QC Report</button>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <div class="row mx-0" *ngIf="projectDetails.projectName">
              <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 text-left pl-0">
                <h4 class="card-title">{{projectDetails.projectName}}</h4>
                <div class="card-category">
                  <span *ngIf="projectDetails.proprietaryName">Proprietary Name : {{ projectDetails.proprietaryName }} | </span>
                  <span *ngIf="projectDetails.drugName">Drug Name : {{ projectDetails.drugName }} | </span>
                  <span>Country : {{ projectDetails.country.name }} | Created By : {{ projectDetails.createdBy.name }} |
                    Created On : {{ projectDetails.createdOn | date : 'dd-MMM-yyyy' }}</span>
                </div>  
              </div>
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 text-right pl-0">
                <div *ngIf="projectDetails.inProcess">
                  <img src="../../assets/img/loader/white_loader.gif" width="30" height="30" />
                  <br/>
                  <small>Review in Process</small>  
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="viewTable" class="table-responsive">
              <table class="table">
                <thead>
                  <th [ngStyle]="{width: header.width}" *ngFor="let header of documentTableHeaders" class="{{ header.class }}">{{ header.headerName }}</th>
                </thead>
                <tbody *ngIf="projectDetails.documents">
                  <tr *ngIf="projectDetails.documents.length < 1">
                    <td colspan="5" class="mx-auto text-center">
                      <div class="badge badge-pill badge-primary p-3">No documents to show.</div>
                    </td>
                  </tr>
                  <tr class="mat-row" *ngFor="let document of projectDetails.documents" >
                    <td class="mat-cell">{{ document.documentName }}</td>
                    <td class="mat-cell">{{ document.fileType }}</td>
                    <td class="mat-cell">{{ document.uploadedBy.name }}</td>
                    <td class="mat-cell">{{ document.uploadedDate | date : 'dd-MMM-yyyy' }}</td>
                    <td class="mat-cell">
                    <button (click)="reUploadDocument(document)" mat-raised-button type="button" matTooltip="Re-upload" [matTooltipPosition]="'above'"
                      class="btn btn-link  btn-just-icon"> 
                      <i class="material-icons" style="color:black;">cloud_upload</i>
                    </button>
                    <button (click)="downloadDocument(document)" mat-raised-button type="button" matTooltip="Download" [matTooltipPosition]="'above'"
                      class="btn btn-link btn-just-icon" *ngIf="document.mimetype != 'application/pdf'">
                      <i class="material-icons" style="color:black;">cloud_download</i>
                    </button>
                    <button (click)="downloadCommentedLabelDoc(document)" mat-raised-button type="button" matTooltip="Commented Label" [matTooltipPosition]="'above'"
                      class="btn btn-link btn-just-icon" *ngIf="document.labelCopy">
                      <!-- *ngIf="document.labelCopy != '' || document.labelCopy != null || document.labelCopy != undefined" -->
                      <i class="material-icons" style="color:black;">cloud_download</i>
                    </button>
                    <button (click)="viewDocument(document)" style="color:#0275d8 !important;" mat-raised-button type="button" matTooltip="View" [matTooltipPosition]="'above'"
                      class="btn btn-link btn-just-icon" *ngIf="document.mimetype == 'application/pdf'">
                      <i class="material-icons">visibility</i>
                    </button>
                    <button (click)="deleteDocument(document)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" 
                      class="btn btn-danger btn-link btn-just-icon flex">
                      <i class="material-icons">delete</i>
                    </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>