<div class="main-content">
  <div class="container-fluid">
    <div class="row w-100" style="height: 35px;">
      <div class="col-12 pad-0 text-right">
        <speed-dial-fab class="speed-dial-container" [ngClass]="speedDialFabPosition" 
        [reverse-column-direction]="speedDialFabPosition===SpeedDialFabPosition.Bottom" 
        (fabClick)="onSpeedDialFabClicked($event)" style="position: absolute;" [buttons]="speedDialFabButtons" ></speed-dial-fab>
      </div>
    </div>
    <!-- Country Configuration -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Country Configurations</h4>
                </div>
                <div class="card-body">
                    <div id="projectTable" class="table-responsive">
                        <table class="table">
                            <thead>
                                <th [ngStyle]="{width: header.width}" *ngFor="let header of countryConfigTableHeaders"
                                    class="{{ header.class }}">{{ header.headerName }}</th>
                            </thead>
                            <tbody *ngIf="allConfigDetails">
                                <tr *ngIf="allConfigDetails.countryConfig.length < 1">
                                    <td colspan="7" class="mx-auto text-center">
                                        <div class="badge badge-pill badge-primary p-3">No configuration(s) to show.</div>
                                    </td>
                                </tr>
                                <tr class="mat-row" *ngFor="let config of allConfigDetails.countryConfig">
                                    <td class="mat-cell">
                                      <div *ngFor="let item of config.country">{{ item.name }}</div>
                                    </td>
                                    <td class="mat-cell">{{ config.countryGrouping }}</td>
                                    <td class="mat-cell">
                                      <div *ngFor="let item of config.documents">{{ item.documentName }}</div>
                                    </td>
                                    <td class="mat-cell">{{ config.languagePreference }}</td>
                                    <td *ngIf="false" class="mat-cell">{{ config.createdBy.name }}</td>
                                    <td *ngIf="false" class="mat-cell">{{ config.created_at | date : 'dd-MMM-yyyy' }}</td>
                                    <th class="mat-cell text-center" scope="row">
                                      <button *ngIf="false" (click)="editCountryConfig(config)" mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'" 
                                        class="btn btn-primary btn-link btn-just-icon flex">
                                          <i class="material-icons">edit</i>
                                      </button>
                                      <button (click)="deleteConfiguration(config, 'Country')" mat-raised-button type="button" matTooltip="Delete Configuration" [matTooltipPosition]="'above'" 
                                        class="btn btn-danger btn-link btn-just-icon flex">
                                        <i class="material-icons">delete</i>
                                      </button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rule Configuration -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Rules Configurations</h4>
                </div>
                <div class="card-body">
                    <div id="projectTable" class="table-responsive">
                        <table class="table" style="min-width:1800px;">
                            <thead>
                                <th [ngStyle]="{width: header.width}" *ngFor="let header of rulesConfigTableHeaders"
                                    class="{{ header.class }}">{{ header.headerName }}</th>
                            </thead>
                            <tbody *ngIf="allConfigDetails">
                                <tr *ngIf="allConfigDetails.ruleConfig.length < 1">
                                    <td colspan="7" class="mx-auto text-center">
                                        <div class="badge badge-pill badge-primary p-3">No configuration(s) to show.</div>
                                    </td>
                                </tr>
                                <tr class="mat-row" *ngFor="let config of allConfigDetails.ruleConfig">
                                    <td class="mat-cell">{{ config.rulesSetup.ruleName }}</td>
                                    <td class="mat-cell">{{ config.rulesSetup.ruleDescription }}</td>
                                    <td class="mat-cell">
                                        <div *ngIf="config.rulesApplication.global">Global</div>
                                        <div *ngIf="!config.rulesApplication.global">
                                            <div *ngFor="let item of config.rulesApplication.country">{{ item.name }}</div>
                                        </div>
                                    </td>  
                                    <td class="mat-cell">{{ config.rulesApplication.sections.condition }}</td>
                                    <td class="mat-cell">
                                        <div *ngIf="config.rulesApplication.allSections">All</div>
                                        <div *ngIf="!config.rulesApplication.allSections">
                                            <div *ngFor="let item of config.rulesApplication.sections.value">{{ item }}</div>
                                        </div>                                        
                                    </td>
                                    <td class="mat-cell">{{ config.action.conflictType }}</td>
                                    <!-- <td class="mat-cell">
                                      <div *ngFor="let item of config.documents">{{ item.documentName }}</div>
                                    </td> -->
                                    <td class="mat-cell">{{ config.action.comments }}</td>
                                    <td class="mat-cell">
                                        <div *ngIf="!config.additionalInformation.additionalInfo">
                                            <i class="material-icons">remove</i>
                                        </div>
                                        <div *ngIf="config.additionalInformation.additionalInfo">
                                            <div *ngFor="let info of config.additionalInformation.addInfo" class="col">
                                                <td>{{ info.label }}</td>
                                                <td><i class="material-icons">arrow_right_alt</i></td>
                                                <td><div *ngFor="let x of info.value">{{ x }}</div></td>                
                                            </div>            
                                        </div>
                                    </td>
                                    <td class="mat-cell">
                                        <div *ngFor="let item of config.exceptionData">{{ item }}</div>
                                    </td>

                                    <!-- <td class="mat-cell">
                                        <i *ngIf="config.action.modifyLabelOnAccept" class="material-icons" style="color: lightgreen !important;font-size: xx-large;">check</i>
                                        <i *ngIf="!config.action.modifyLabelOnAccept" class="material-icons" style="color: red !important;font-size: xx-large;">clear</i>                  
                                    </td>
                                    <td class="mat-cell">
                                        <i *ngIf="config.action.allowReject" class="material-icons" style="color: lightgreen !important;font-size: xx-large;">check</i>
                                        <i *ngIf="!config.action.allowReject" class="material-icons" style="color: red !important;font-size: xx-large;">clear</i>                  
                                    </td> -->
                                    <td class="mat-cell">{{ config.createdBy.name }}</td>
                                    <td class="mat-cell">{{ config.created_at | date : 'dd-MMM-yyyy' }}</td>                                    
                                    <th class="mat-cell text-center" scope="row">
                                      <button (click)="editRuleConfig(config, 'Rule')" mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'" 
                                        class="btn btn-primary btn-link btn-just-icon flex">
                                          <i class="material-icons">edit</i>
                                      </button>
                                      <button (click)="deleteConfiguration(config, 'Rule')" mat-raised-button type="button" matTooltip="Delete Configuration" [matTooltipPosition]="'above'" 
                                        class="btn btn-danger btn-link btn-just-icon flex">
                                        <i class="material-icons">delete</i>
                                      </button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>