/* You can add global styles to this file, and also import other style files */
/* @import "./app/compare/compare.component.scss"; */

@import "./app/compare/compare.component.css";
@import "./app/login/login.component.css";

@import "~@ng-select/ng-select/themes/material.theme.css";
            
.ng-sidebar {
  background: rgb(255, 255, 255);
  width: 13rem;
}
  
.ng-sidebar--right {
  color: rgb(255, 255, 255) !important;
  background: rgb(255, 255, 255);
  width: 12rem;
}
  
.cursor-pointer {
  cursor: pointer !important;
}

.btn-spec{
  text-transform: none!important; 
  font-weight: normal !important;
  padding: 7px 30px!important;
}

.card-header{
  padding: 10px 0px 5px 15px !important;
}

.mat-cell{
  padding: 0px 8px !important;
}

.mat-mini-fab {
  width: 35px !important;
  height: 35px !important;
  font-size: 12px !important;
}

.mat-mini-fab .mat-button-wrapper{
  padding: 4px 0px !important;
}

.main-panel .main-content {
  margin-top: 50px;
  padding: 0px 15px;
  min-height: calc(100vh - 123px);
}

/* .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: .25em 0;
  margin: 0 !important;
} */

.table .table {
  background-color: transparent !important;
}

.ng-select .ng-select-container::after {
  border-bottom: none !important;
}

.sidebar-disabled {
  pointer-events: none !important;
  cursor: not-allowed;
}

.navbar.navbar-absolute {
  z-index: 1000 !important;
}

@media( min-width: 992px ) {
  .main-panel {
    position: relative;
    float: right;
    /* width: calc(100% - 220px) !important; */
    width: calc(100% - 220px);
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}

@media( min-width: 960px ) {
  .main-panel {
    position: relative;
    float: right;
    /* width: calc(100% - 220px) !important; */
    width: calc(100% - 220px);
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}


