<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <div *ngIf="projectDetails.projectName">
              <h4 class="card-title">{{projectDetails.projectName}}</h4>
              <div class="card-category">
                <span>Country : {{ projectDetails.country.name }} | Created By : {{ projectDetails.createdBy.name }} |
                  Created On : {{ projectDetails.createdOn | date : 'dd-MMM-yyyy' }}</span>
              </div>
            </div>
          </div>
          <div class="card-body">
              <form>
                  <div mat-form-field>
                    <textarea matInput placeholder="Add a comment"></textarea>
                  </div>
                </form>                
          </div>
        </div>
      </div>
    </div>
  </div>
</div>