<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col align-self-end">
        <button mat-raised-button routerLink="/compare" [class.disabled]="createProjectData.documents.length == 0" [disabled]="createProjectData.documents.length == 0" type="submit" class="btn btn-primary pull-right">Compare</button>
        <button (click)="createProject()" [disabled]="!projectForm.valid || created" [class.disabled]="!projectForm.valid || created" mat-raised-button type="submit"
          class="btn btn-primary pull-right">Create</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Create Project</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form [formGroup]="projectForm">
              <fieldset [disabled]="created" [class.disabled]="created">
              <div class="row">
                <div class="col-md-6">                
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="createProjectData.projectName" formControlName="projectName" matInput
                      placeholder="Project Name" autocomplete="off" required />
                  </mat-form-field>                  
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-select [(ngModel)]="createProjectData.country.name" [disabled]="created" [class.disabled]="created" formControlName="country" placeholder="Country" required>
                      <mat-select-trigger>
                        <span><img src="{{createProjectData.country.id}}" width="20" height="20" /> {{ createProjectData.country.name }}</span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let item of countryData" [value]="item.name" (onSelectionChange)="setCountry($event, item)">
                        <img src="{{ item.flag }}" width="20" height="20" />&nbsp;&nbsp;{{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="createProjectData._id != ''" class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Upload Project Document</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 ">
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                  [uploader]="uploader" (onFileDrop)="onFileSelected($event)" class="well my-drop-zone ">
                  <span class="align-middle">Drop or select the files</span>
                  <br>
                  <span><i class="material-icons upload-icon">cloud_upload</i></span>
                  <br>
                  <div class="upload-btn-wrapper">
                    <button class="btn">Browse</button>
                    <input type="file" ng2FileSelect [uploader]="uploader" multiple
                      (onFileSelected)="onFileSelected($event)" />
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Size</th>
                      <th scope="col">Progress</th>
                      <th scope="col">Status</th>
                      <th scope="col">File Type</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of uploader.queue; let i=index;" [class.bg-light]="item.isUploaded">
                      <fieldset id="uploadSection" [class.disabled]="item.isUploaded" [disabled]="item.isUploaded"
                        class="w-100 d-contents">
                        <th scope="row"><strong>{{ item?.file?.name }}</strong></th>
                        <!-- *ngIf="uploader.isHTML5" -->
                        <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <!-- *ngIf="uploader.isHTML5" -->
                        <td>
                          <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
                            </div>
                          </div>
                        </td>
                        <td>
                          <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                          <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                          <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td>
                          <mat-form-field class="example-full-width">
                            <mat-select [(ngModel)]="item.fileType" (ngModelChange)="setFileType(item,i)"
                              [class.disabled]="item.isUploaded" [disabled]="item.isUploaded" placeholder="File Type" required>
                              <mat-option *ngFor="let file of fileTypes" [value]="file.value">{{file.value}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td class="td-actions text-left">
                          <button (click)="item.upload()" [class.disabled]="!item.fileType || item.isUploaded" [disabled]="!item.fileType || item.isUploaded"
                            mat-raised-button type="button" matTooltip="Upload" [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                            <i class="material-icons">cloud</i>
                          </button>
                          <button (click)="item.cancel()" [disabled]="false" mat-raised-button type="button"
                            matTooltip="Cancel" [matTooltipPosition]="'above'"
                            class="btn btn-primary btn-link btn-sm btn-just-icon">
                            <i class="material-icons">close</i>
                          </button>
                          <button (click)="item.remove()" mat-raised-button type="button" matTooltip="Remove"
                            [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon flex">
                            <i class="material-icons">delete</i>
                          </button>
                        </td>
                      </fieldset>
                    </tr>
                  </tbody>
                </table>
                <div>
                  <div>Queue progress:
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-danger btn-s pull-right" (click)="uploader.clearQueue()" [class.disabled]="!uploader.queue.length"
                    [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                  </button>
                  <button type="button" class="btn btn-warning btn-s pull-right" (click)="uploader.cancelAll()" [class.disabled]="!uploader.isUploading"
                    [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                  </button>
                  <button type="button" class="btn btn-success btn-s pull-right" (click)="uploader.uploadAll()" [class.disabled]="disableUploadAll || !uploader.getNotUploadedItems().length"
                    [disabled]="disableUploadAll || !uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-primary">
                <div>
                  <h4 class="card-title">Uploaded Documents</h4>
                </div>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th *ngFor="let header of documentTableHeaders">{{ header }}</th>
                        </thead>
                        <tbody>
                            <tr class="mat-row" *ngFor="let document of createProjectData.documents">
                                <td class="mat-cell">{{ document.documentName }}</td>
                                <td class="mat-cell">{{ document.fileType }}</td>
                                <td class="mat-cell">{{ document.uploadedBy }}</td>
                                <td class="mat-cell">{{ document.uploadedDate | date : 'dd-MMM-yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
              </div>
          </div>
      </div>
  </div>


  </div>
</div>